[Unit]
Description=Daily rotate geo domain nft sets

[Timer]
OnCalendar=*-*-* 03:30:00
AccuracySec=10min
RandomizedDelaySec=30min
Persistent=true
Unit=awg-uplink-geo-domain-nft-rotate.service

[Install]
WantedBy=timers.target
