[Unit]
Description=Weekly rotate geo domain nft sets

[Timer]
OnCalendar=Sun *-*-* 03:30:00
AccuracySec=10min
RandomizedDelaySec=30min
Persistent=true
Unit=awg-uplink-geo-domain-nft-rotate.service

[Install]
WantedBy=timers.target
